 /*.example-spacer {
    flex: 1 1 auto;
  }
 .d-block{
    width: 35px;
    height: 35px;
  }*/

  /* .carousel-caption {
    color: rgb(255, 255, 255);
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
} */
