<div class="col-md-5 offset-md-3">
    <h3>Update Medicine</h3>
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label>Medicine Name</label>
            <input type="text" class="form-control" id="medicineName"
            [(ngModel)]="medicine.medicineName" name="medicineName">
        </div>
        <div class="form-group">
            <label>Batch Number </label>
            <input type="text" class="form-control" id="batchNumber"
            [(ngModel)]="medicine.batchNumber" name="batchNumber">
        </div>
        <div class="form-group">
            <label>Manufacture Date </label>
            <input type="date" class="form-control" id="manufactureDate"
            [(ngModel)]="medicine.manufactureDate" name="manufactureDate">
        </div>
        <div class="form-group">
            <label>Expiry Date </label>
            <input type="date" class="form-control" id="expiryDate"
            [(ngModel)]="medicine.expiryDate" name="expiryDate">
        </div>
        <div class="form-group">
            <label>Stock</label>
            <input type="number" class="form-control" id="stock"
            [(ngModel)]="medicine.stock" name="stock">
        </div>
    
        <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>
