<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="left-section">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/accountant-list">Accountant List</a>
        </li>
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-accountant">Add Accountant</a>
        </li>
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/bill-list">Bill List</a>
        </li>
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-bill">Add Bill</a>
        </li>
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/invoice-list">Invoice List</a>
        </li>
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-invoice">Add Invoice</a>
        </li>


        
               

        

    </ul>
    </div>
  </nav>
